<nav class=" navbar navbar-expand-sm bg-primary  mynav " role="navigation" id="navbar">
    <div class="container">
        <ul class="nav  justify-content-end nav-pills   ">
            <a class=" mynav navbar-brand text-white " href="{% url 'home' %}">Star Social</a>
            {% if user.is_authenticated %}
                <li class="nav-item "><a class="nav-link text-white " href="{% url 'posts:create' %}">Create Post</a></li>
                <li class="nav-item "><a class="nav-link text-white " href="{% url 'posts:all' %}"> Posts</a></li>
                <li class="nav-item"><a class="nav-link text-white " href="{% url 'groups:all' %}">Groups</a></li>
                <li class="nav-item"><a class="nav-link text-white " href="{% url 'groups:create' %}">Create Group</a>
                </li>
                <li class="nav-item"><a class="nav-link text-white " href="{% url 'accounts:logout' %}">Log Out</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link text-white " href="{% url 'accounts:login' %}">Log in</a></li>
                <li class="nav-item"><a class="nav-link text-white " href="{% url 'accounts:signup' %}">Sign Up</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
